.habit-table {
  position: absolute;
}

.habit-row {
  display: flex;
}

.habit-box {
  width: 30px;
  height: 30px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
}

.habit-box:hover {
  background-color: grey;
}

.date-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.dateRow-date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 10px;
  border-right: 1px solid #ccc;
}

.dateRow-date.date-is-today {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  color: white;
}