.preferences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #eee;
  font-size: 12px;
  padding: 5px 0;

  .row {
    display: flex;
    justify-content: center;
    padding: 5px 0;

    label {
      text-align: right;
      flex: 0.42;
    }

    >:not(label) {
      flex: 0.58;
      text-align: left;
      margin-left: 3px;
    }
  }
}