body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.SplitPane {
  overflow: scroll !important;
}

.habit-table {
  width: 100%;
}

.habit-row {
  display: flex;
}

.habit-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: green;
}

.habit-list {
  align-self: flex-end;
  width: 100px;
}

.habit-list-name-input {
  display: flex;
  align-items: center;
  height: 50px;
}

.habit-list-name-input input {
  margin-left: 20px;
}